.pkm.red {
    background-color: rgba(244, 67, 54, 0.25); 
}

.pkm.blue {
    background-color: rgba(33, 150, 243, 0.25); 
}

.pkm.green {
    background-color: rgba(76, 175, 80, 0.25); 
}

.pkm.yellow {
    background-color: rgba(255, 235, 59, 0.25); 
}

.pkm.purple {
    background-color: rgba(156, 39, 176, 0.25); 
}

.pkm.pink {
    background-color: rgba(233, 30, 99, 0.25); 
}

.pkm.brown {
    background-color: rgba(121, 85, 72, 0.25); 
}

.pkm.white {
    background-color: rgba(248, 248, 248, 0.25); 
}

.pkm.gray {
    background-color: rgba(158, 158, 158, 0.25); 
}

.pkm.black {
    background-color: rgba(66, 66, 66, 0.25); 
}

.pkm-type.normal { background-color: #A8A77A; }
.pkm-type.fire { background-color: #EE8130; }
.pkm-type.water { background-color: #6390F0; }
.pkm-type.electric { background-color: #F7D02C; color: #212121; }
.pkm-type.grass { background-color: #7AC74C; }
.pkm-type.ice { background-color: #96D9D6; color: #212121; }
.pkm-type.fighting { background-color: #C22E28; }
.pkm-type.poison { background-color: #A33EA1; }
.pkm-type.ground { background-color: #E2BF65; }
.pkm-type.flying { background-color: #A98FF3; }
.pkm-type.psychic { background-color: #F95587; }
.pkm-type.bug { background-color: #A6B91A; }
.pkm-type.rock { background-color: #B6A136; }
.pkm-type.ghost { background-color: #735797; }
.pkm-type.dragon { background-color: #6F35FC; }
.pkm-type.dark { background-color: #705746; }
.pkm-type.steel { background-color: #B7B7CE; }
.pkm-type.fairy { background-color: #D685AD; }